.course-info {
  background-color: #F2F2F2;
  padding-top: 52px;
  padding-bottom: 85px;
}

.details {
  margin-top: 45px;
  user-select: none;
  position: relative;
}

.details-title {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
  line-height: 17px;
  color: #000000;
  opacity: 0.8;
  margin-top: 10px;

  &::before {
    display: inline-block;
    background-image: url("../../assets/images/arrow.svg");
    background-position: center;
    // background-size: cover;
    width: 70px;
    height: 70px;
    content: "";
  }
}

.details-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 17px;
  color: #000000;
  opacity: 0.8;
  margin-top: 10px;
}

@media only screen and (min-width: 900px) {
  .details-left {
    width: 50%;
  }

  .details-right {
    width: 50%;
    margin-left: 30px;
  }

  .datail-summ-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

ul {
  list-style: none;
}

summary {
  list-style: none;
}