.overflow{
    overflow: hidden;
}
.m {
    background-color: #000000;
    width: 100%;
    height: 100%;
    z-index: 100000000000000;
    display: none;
  }
  
  .open {
    display: block;
  }
  
  .modal-box {
    position: fixed;
    background-color: #9c1d1d2c;
    width: 100%;
  }
  
  .modal {
    position: absolute;
    left: 35%;
    top: -50px;
    width: 540px;
    height: 621px;
    background: #FFFFFF;
    border-radius: 15px;
    padding: 60px;
    box-shadow: 0px 52px 41px 13px rgba(0, 0, 0, 0.05);
  }
  
  .modal-close-btn {
    display: flex;
    justify-content: end;
    align-items: end;
  
    button {
      background-color: transparent;
      border: none;
    }
  }
  
  .modal-item {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #242424;
  }
  
  .modal-input-group {
    margin-left: 80px;
  }
  
  .modal-title {
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
    text-align: center;
    background: linear-gradient(91.44deg, #00DB65 0.54%, #007A38 99.51%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-bottom: 0;
  }
  
  .modal-text {
    margin-top: 0;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #000000;
  }
  
  .modal-int {
    width: 255px;
    height: 50px;
    padding: 20px;
    text-align: center;
    border: 1px solid #000000;
    border-radius: 34px;
  }
  
  .modal-int:nth-child(2) {
    margin: 30px 0;
  }
  
  .modal-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 56px;
    color: #fff;
    width: 255px;
    height: 50px;
    background: linear-gradient(92.2deg, #00DB65 0%, #007A38 100%);
    border-radius: 34px;
  }
  
  .modal-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
  }
  
  .modal-check {
    margin-right: 15px;
  }