.overflow {
  overflow: hidden;
}

.modal {
  width: 540px;
  height: 621px;
  padding: 0 58px;
  padding-top: 0px;
  padding-bottom: 68px;
}

.modal-top {
  display: flex;
  justify-content: end;
  align-items: end;

  img {
    cursor: pointer;
    margin-right: -20px;
  }
}

.modal-top-btn {
  background-color: transparent;
  border: none;
}

.modal-mid {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #242424;
}

.modal-title {
  margin-bottom: 0;
  margin-top: 49px;
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
  text-align: center;
  background: linear-gradient(91.44deg, #00DB65 0.54%, #007A38 99.51%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.modal-desc {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #000000;
  margin-top: 0;
  margin-bottom: 48px;
}

.modal-group {
  display: flex;
  flex-direction: column;
}

.modal-int {
  max-width: 255px;
  width: 100%;
  height: 50px;
  border: none;
  border: 1px solid #000000;
  border-radius: 34px;
  padding: 20px;
  text-align: center;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #000000;
  margin-bottom: 30px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-btn {
  padding: 16px 58px;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
  background: linear-gradient(92.2deg, #00DB65 0%, #007A38 100%);
  border-radius: 34px;
  border: none;
  margin-bottom: 56px;
}

.modal-b {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

#mo-id {
  margin-right: 15px;
}