.tarif{

}
.tarif-wrap{

}
.tarif-text-box{

}
.tarif-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    background: linear-gradient(91.44deg, #00b654 0.54%, #007a38 99.51%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

.tarif-text{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}
.tarif-step{
    font-weight: 700;
    font-size: 35px;
    line-height: 43px;
    color: #000000;
}
.tarif-list{

}
.tarif-item{
    margin-top: 20px;
text-align: center;
}
.tarif-num{
    font-weight: 700;
    font-size: 80px;
    line-height: 98px;
    letter-spacing: 0.07em;
    background: linear-gradient(118.87deg, #00D864 16.87%, #007C39 96.37%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.tarif-num-text{
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
}
.tarif-second-wrap{

}
.second-text-box{

}
.second-title{
    font-weight: 700;
    font-size: 35px;
    line-height: 43px;
    color: #000000;
    
}
.second-title-text{

}
