body {
  font-family: "Montserrat", "Arial", sans-serif;
}

.bg {
  background-image: url("../../assets/images/hero__bg-img.jpg");
  width: 100%;
  height: 100%;
  padding-top: 119px;
  padding-bottom: 47px;
}

.container {
  max-width: 1390px;
  margin: 0 auto;
  padding: 0 20px;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 93px;
}

.nav__item {
  margin-left: 93px;
}

.nav {
  display: flex;
  align-items: center;
  padding-bottom: 70px;
}

.hero__btn {
  border: none;
}

.nav__link {
  color: #fff;
  text-transform: capitalize;
  transition: 0.2s;

  &:hover {
    color: #01f573;
  }
}

@media only screen and (min-width: 0px) and (max-width: 700px) {

  .header {
    position: relative;
  }

  .nav {
    display: flex;
    justify-content: space-between;
  }

  .nav__list {
    max-width: 250px;
    width: 100%;
    text-align: center;
    position: absolute;
    right: -30px;
    top: 50px;
    background-color: #00ff77fb;
  }


  .nav__item {
    margin-left: 0;
    padding-top: 40px;
  }

  .nav__item:last-child {
    padding-bottom: 40px;
  }

  .nav__link {
    text-align: center;
    color: #000000;
  }

  .menu-btn {
    background-color: transparent;
    border: none;
  }

  .nav__list {
    display: none;

    &.on {
      display: block;
    }
  }
}

@media only screen and (min-width: 0px) and (max-width: 379px) {
  .hero__btns {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 150px;
  }

  .hero__btn {
    margin-top: 50px;
    margin-bottom: 40px;
  }
}

@media only screen and (min-width: 380px) and (max-width: 200000000000px) {
  .hero__btns {
    display: flex;
    align-items: center;
    margin-top: 50px;
  }

  .hero__btns-group {
    margin-left: 19px;
  }
}

.hero__title {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 700;
  font-size: 96px;
  line-height: 117px;
  background: linear-gradient(90.67deg, #08cb63 29.84%, #00ff76 107.54%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.hero__desc {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 40px;
  color: #fff;
}

.hero__desc-bold {
  font-weight: 700;
  color: #fff;
}

.hero__badge {
  margin-top: 40px;
  width: 700px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 29.5px;
}

.hero__badge-desc {
  padding: 11px 41px;
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;
  color: #ffffff;
}

.hero__badge-bold {
  color: #01f573;
}

.hero__btn {
  width: 265px;
  height: 56px;
  background: #01f573;
  border-radius: 28px;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #000000;
}

.hero__btns-about {
  margin-left: 19px;
  margin-right: 13px;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  text-align: right;
  color: #01f573;
}

.hero__btns-group {
  display: flex;
  align-items: center;

  img {
    width: 47px;
    height: 47px;
  }
}

@media only screen and (min-width: 0px) and (max-width: 700px) {
  .bg {
    padding-top: 50px;
    padding-bottom: 84px;
  }

  .hero__btns-group {
    img {
      width: 38px;
      height: 38px;
      background-size: cover;
    }
  }

  .hero__title {
    font-weight: 700;
    font-size: 35px;
    line-height: 39px;
    background: linear-gradient(90.67deg, #08CB63 29.84%, #00FF76 107.54%);
    background-clip: text;
  }

  .hero__desc {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
  }

  .hero__badge {
    width: 255px;
    height: 73px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 29.5px;
  }

  .hero__badge-desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-top: 50px;
  }

  .hero__btn {
    font-size: 18px;
    width: 200px;
    height: 51px;
    background: #01F573;
    border-radius: 28px;
  }

  .hero__btns-about {
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    margin: 0;
    margin-right: 13px;
  }
}

@media only screen and (min-width: 700px) and (max-width: 1024px) {
  .header {
    position: relative;
  }

  .nav {
    display: flex;
    justify-content: space-between;
  }

  .nav__list {
    max-width: 250px;
    width: 100%;
    text-align: center;
    position: absolute;
    right: -30px;
    top: 50px;
    background-color: #00ff77fb;
  }


  .nav__item {
    margin-left: 0;
    padding-top: 40px;
  }

  .nav__item:last-child {
    padding-bottom: 40px;
  }

  .nav__link {
    text-align: center;
    color: #000000;
  }

  .menu-btn {
    background-color: transparent;
    border: none;
  }

  .nav__list {
    display: none;

    &.on {
      display: block;
    }
  }

  .hero__title {
    font-size: 55px;
  }

  .hero__desc {
    font-size: 18px;
  }
}


@media only screen and (min-width: 1024px) {
  .menu-btn {
    display: none;
  }

  .hero__desc {
    max-width: 970px;
    width: 100%;
  }
}